*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
  font-weight: 400


//.text-center
//  text-align: center


//// BEGIN Animation pass between pages //
//
//.page-enter-active, .page-leave-active
//  transition: opacity .4s
//
//.page-enter, .page-leave-active
//  opacity: 0
//
//// END Animation //

.mx-auto
  margin-left: auto
  margin-right: auto

@media only screen and (max-width: 576px)
  .container
    width: 100%

@media only screen and (min-width: 576px) and (max-width: 768px)
  .container
    width: 576px

@media only screen and (min-width: 768px) and (max-width: 992px)
  .container
    width: 768px

@media only screen and (min-width: 992px) and (max-width: 1200px)
  .container
    width: 992px

@media only screen and (min-width: 1200px) and (max-width: 1600px)
  .container
    width: 1200px

@media only screen and (min-width: 1600px)
  .container
    width: 1600px
